<template>
  <f7-page>
    <f7-navbar title="Messages" back-link="Back" class="dashboard-navbar"></f7-navbar>
    <f7-toolbar tabbar bottom>
        <div class="enter-message" form>
        <input 
          type="textarea" 
          placeholder="Enter your message.."
          :value="message"
          @input="message = $event.target.value"
         />
        <a href="#" class="send" @click="sendMessage">Send</a>
      </div>
    </f7-toolbar >
    <!-- <div class="container" v-for="(messageData, index) in messageDataList" :key="index">
      <img :src="avatar" alt="Avatar" style="width:50%; hight:50%">
      <span class="time-right">{{messageData.name}}</span>
      <p>{{messageData.message}}</p>
    </div> -->

    <!-- <div class="container darker">
      <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
      <p>Hey! I'm fine. Thanks for asking!</p>
      <span class="time-left">11:01</span>
    </div> -->
      <!-- <div class="card mt-3">
        <div class="card-body">
            <div class="card-title">
                <h3>Chat Group</h3>
                <hr>
            </div>
            <div class="card-body">
                <div class="messages" v-for="(msg, index) in messages" :key="index">
                    <p><span class="font-weight-bold">{{ msg.name }}: </span>{{ msg.message }}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form @submit.prevent="sendMessage">
                <div class="gorm-group pb-3">
                    <label for="message">Message:</label>
                    <input type="text" v-model="message" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Send</button>
            </form>
        </div>
    </div> -->
    <div class="chat-box" v-html="messages">
      <!-- <div 
        class="message-box" 
        v-for="(massageData, index) in messages"
        :key="index"
        >
        <div class="picture">
          <img :src="massageData.avatar" title="user name"/>
          <span class="time">10 mins</span>
        </div>
        <div class="message">
          <span>{{massageData.name}}</span>
          <p>{{massageData.message}}</p>
        </div>
      </div> -->
      <!-- <div class="message-box right-img" v-else>
        <div class="picture">
          <img :src="avatar" title="user name"/>
          <span class="time">2 mins</span>
        </div>
        <div class="message">
          <span>Mike Moloney</span>
          <p>Pretty good, Eating nutella, nommommom</p>
        </div>
      </div> -->
      
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12">
          <!-- <h1 class="text-center">
              MongoChat 
              <button id="clear" class="btn btn-danger">Clear</button>
          </h1> -->
          <div id="status"></div>
          <div id="chat">
              <!-- <input type="text" id="username" class="form-control" placeholder="Enter name...">
              <br> -->
              <div class="card">
                  <div id="messages" class="card-block">

                  </div>
              </div>
              <br>
              <!-- <textarea id="textarea" class="form-control" placeholder="Enter message..."></textarea> -->
          </div>
      </div>
  </div>
  </f7-page>
</template>

<script>
import io from 'socket.io-client';
// const socket = io.connect('http://127.0.0.1:4000');
export default {
    data() {
        return {
            // messageDataList : null,
            // user: '',
            message: '',
            messages: null,
            socket : io.connect('http://127.0.0.1:4000')
        }
    },
    props: {
        avatar: String,
        name: String,
        userid: String,
        frndid: String,
    },
    computed: {
      
    },
    methods: {
        sendMessage(e) {
            const self = this;
            e.preventDefault();            
            self.socket.emit('input', {
              name:self.name,
              message: self.message,
              avatar: self.avatar,
              senderId: self.frndid,
              receiverId: self.userid
            });
            self.message = ''
        },
        receiverMessage(){
          const self = this;
          console.log(self.socket);
          self.socket.on('output', function(data) {
              self.messages = textData;
              // self.messages = data;
              for(var x = 0;x < data.length;x++){
                  var textContent = '<div class="message-box right-img">'+
                                            '<div class="picture">'+
                                              '<img src="'+data[x].avatar+'" title="user name"/>'+
                                              '<span class="time">2 mins</span>'+
                                            '</div>'+
                                            '<div class="message">'+
                                              '<span>'+data[x].name+'</span>'+
                                              '<p>'+data[x].message+'</p>'+
                                            '</div>'+
                                          '</div>';
                                          console.log(textContent);
                  textData.appendChild(textContent);
                  textData.insertBefore(textContent, textData.lastChild);
              }
              
              console.log(self.messages);
          });
          
        }
    },
    mounted() {
        const self = this;
        self.receiverMessage();
        var element = function(id){
            return document.getElementById(id);
        }

        // Get Elements
        var status = element('status');
        var messages = element('messages');
        // var textarea = element('textarea');
        var username = self.name;
        // var clearBtn = element('clear');

        // Set default status
        var statusDefault = status.textContent;

        var setStatus = function(s){
            // Set status
            status.textContent = s;

            if(s !== statusDefault){
                var delay = setTimeout(function(){
                    setStatus(statusDefault);
                }, 4000);
            }
        }

        // Connect to socket.io
        var socket = io.connect('http://127.0.0.1:4000');

        // Check for connection
        if(socket !== undefined){
            console.log('Connected to socket...');

            // Handle Output
            socket.on('output', function(data){
                //console.log(data);
                // if(data.length){
                //     // self.messages = data;
                //     for(var x = 0;x < data.length;x++){
                //         //Build out message div
                //         var message = document.createElement('div');
                //         message.setAttribute('class', 'message-box right-img');
                //         message.textContent = data[x].name+": "+data[x].message;
                //         messages.appendChild(message);
                //         messages.insertBefore(message, messages.lastChild);
                //     }
                // }
            });

            //Get Status From Server
            socket.on('status', function(data){
                // get message status
                setStatus((typeof data === 'object')? data.message : data);

                // If status is clear, clear text
                if(data.clear){
                    textarea.value = '';
                }
            });

            //Handle Input
            textarea.addEventListener('keydown', function(event){
                if(event.which === 13 && event.shiftKey == false){
                    // Emit to server input
                    socket.emit('input', {
                        name:self.name,
                        message:textarea.value
                    });

                    event.preventDefault();
                }
            })

            // Handle Chat Clear
            clearBtn.addEventListener('click', function(){
                socket.emit('clear');
            });

            //Clear Message
            socket.on('cleared', function(){
                messages.textContent = '';
            });
        }
    }
}
</script>
<style scoped>
  .chat-box, .enter-message{
    /* background:#ECECEC; */
    padding:0 20px;
    color:#a1a1a1;
  }
  .chat-box .message-box{
    padding:18px 0 10px;
    clear:both;
  }
  .message-box .picture{
    float:left;
    width:50px;
    display:block;
    padding-right:10px;
  }
  .picture img{
    width:43px;
    height:48px;
    border-radius:5px;
  }
  .picture span{
    font-weight:bold;
    font-size:12px;
    clear:both;
    display:block;
    text-align:center;
    margin-top:3px;
  }
  .message{
    background:#fff;
    display:inline-block;
    padding:13px;
    max-width: 80%;
    border-radius:2px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    position:relative;
  }
  .message:before{
    content:"";
    position:absolute;
    display:block;
    left:0;
    border-right:6px solid #fff;
    border-top: 6px solid transparent;
    border-bottom:6px solid transparent;
    top:10px;
    margin-left:-6px;
  }
  .message span{
    color:#555;
    font-weight:bold;
  }
  .message p{
    padding-top:5px;
    margin: 0px;
  }
  .message-box.right-img .picture{
    float:right;
    padding:0;
    padding-left:10px;
  }
  .message-box.right-img .picture img{
    float:right;
  }
  .message-box.right-img .message:before{
    left:100%;
    margin-right:6px;
    margin-left:0;
    border-right:6px solid transparent;
    border-left:6px solid #fff;
    border-top: 6px solid transparent;
    border-bottom:6px solid transparent;
  }
  .enter-message{
    padding:13px 0px;
    width: 100%;
  }
  .enter-message input{
    border:none;
    padding:10px 12px;
    background:#d3d3d3;
    width:75%;
    border-radius:2px;
    display: inline-block;
  }
  .enter-message a.send{
    padding:10px 15px;
    background:#6294c2;
    border-radius:2px;
    float:right;
  }
</style>
