<template id="chatID">
  <f7-page name="chat" class="dashboard-bg">
      <f7-list media-list>
      <f7-list-item
        v-for="(FriendListData, key) in FriendList"
        :key="key"      
        >
        <div class="row">
        <div class="col-85" 
          @click="chatDataSender(
            FriendListData.sender_id.profile_image,
            FriendListData.sender_id.username,
            userId,
            FriendListData._id
            )"  v-if="FriendListData.receiver_id._id === userId">
        <img :src="FriendListData.sender_id.profile_image" width="44" height="44" style="float: left; margin-right: 10px" />
        <span style="display: block">{{FriendListData.sender_id.username}}</span>
        <span>{{FriendListData.sender_id.phone}}</span>
        </div>
        <div class="col-85" @click="chatDataReceiver(
          FriendListData.receiver_id.profile_image,
          FriendListData.receiver_id.username,
          userId,
          FriendListData._id
        )" v-else>
        <img :src="FriendListData.receiver_id.profile_image" width="44" height="44" style="float: left; margin-right: 10px" />
        <span style="display: block">{{FriendListData.receiver_id.username}}</span>
        <span>{{FriendListData.receiver_id.phone}}</span>
        </div>
        <f7-button 
         class="col-15"
         :popover-open="'.popover-menu'+FriendListData._id"
        >
        <f7-icon material="more_vert"></f7-icon>
      </f7-button>
      </div>
      <f7-popover :class="'popover-menu'+FriendListData._id">
        <f7-list>
          <!-- <f7-list-item link="#" popover-close title="View profile"></f7-list-item> -->
          <f7-list-item 
            link="#" 
            popover-close 
            title="Delete"
            @click="deletefriend(FriendListData._id)"
          >
          </f7-list-item>
        </f7-list>
      </f7-popover>
      </f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
import { API_URL } from "../../js/api.js";
export default {
  data() {
    return {
      FriendList: null,
      userId: localStorage.getItem("userID"),
    };
  },
  computed: {
  },
  methods: {
    myfriend() {
      const self = this;
      const app = self.$f7;
      // app.progressbar.show('multi');
      app.request.setup({
        headers: {
          Authorization: localStorage.getItem("token")
        }
      });
      app.request.post(API_URL+ 'accepted_friend', function(data) {
        var obj = JSON.parse(data);
        self.FriendList = obj.data;
        console.log(self.FriendList);
        // app.progressbar.hide();
      });
    },
    deletefriend(id){
      const self = this;
      const app = self.$f7;
      console.log(id);
      app.request.post(API_URL+'delete_friend',{recordId: id}, function(data) {
        var obj = JSON.parse(data);
        self.myfriend();
        app.toast.create({
          text: ''+obj.message+'',
          closeTimeout: 2000,
        }).open();
      });
    },
    chatDataSender(img,username,sid,id){
      const self = this;
      const app = self.$f7;
      self.$f7router.navigate('/chatdata/',{
        props: {
          avatar: img,
          name: username,
          userid: sid,
          frndid: id
        }
      });
    },
    chatDataReceiver(img,username,sid,id){
      const self = this;
      const app = self.$f7;
      self.$f7router.navigate('/chatdata/',{
        props: {
          avatar: img,
          name: username,
          userid: sid,
          frndid: id
        }
      });
    }
  },
  created(){
      const self = this;
      const app = self.$f7;
  },
  beforeMount() {
    const self = this;
    const app = self.$f7;
  },
  mounted: function() {
    const self = this;
    const app = self.$f7;
    self.myfriend();
  },
  updated() {
    const self = this;
    const app = self.$f7;
  }
};
</script>