<template>
  <f7-page>
    <f7-navbar class="dashboard-navbar">
      <f7-nav-left back-link="Back"></f7-nav-left>
      <f7-nav-title>
        <img
          :src="avatar"
          width="40"
          height="40"
          style="margin-right:10px;border-radius: 50px;float: left;"
        />
        <span style="margin-top:10px;display: inline-block;">{{name}}</span>
      </f7-nav-title>
    </f7-navbar>
    <f7-messages ref="messages">
      <f7-message
        v-for="(message, index) in messagesData"
        :key="index"
        :type="message.type"
        :name="message.name"
        :textHeader="message.date"
        :first="isFirstMessage(message, index)"
        :last="isLastMessage(message, index)"
        :tail="isTailMessage(message, index)"
      >
        <span slot="text" v-if="message.text" v-html="message.text"></span>
      </f7-message>
    </f7-messages>
    <f7-messagebar placeholder="type message" send-link="Send" v-on:submit="sendMessage">
    </f7-messagebar>
  </f7-page>
</template>
<script>
import io from "socket.io-client";
export default {
  components: {
  },
  data() {
    return {
      messagesData: [],
      socket: io.connect("https://optigoochat.herokuapp.com/"),
      // socket: io.connect("http://127.0.0.1:4000"),
      profileImg: "static/userImg.png",
      username: localStorage.getItem("username")
    };
  },
  props: {
    avatar: String,
    name: String,
    userid: String,
    frndid: String
  },
  computed: {},
  methods: {
    isFirstMessage(message, index) {
      const self = this;
      const previousMessage = self.messagesData[index - 1];
      if (message.isTitle) return false;
      if (
        !previousMessage ||
        previousMessage.type !== message.type ||
        previousMessage.name !== message.name
      )
        return true;
      return false;
    },
    isLastMessage(message, index) {
      const self = this;
      const nextMessage = self.messagesData[index + 1];
      if (message.isTitle) return false;
      if (
        !nextMessage ||
        nextMessage.type !== message.type ||
        nextMessage.name !== message.name
      )
        return true;
      return false;
    },
    isTailMessage(message, index) {
      const self = this;
      const nextMessage = self.messagesData[index + 1];
      if (message.isTitle) return false;
      if (
        !nextMessage ||
        nextMessage.type !== message.type ||
        nextMessage.name !== message.name
      )
        return true;
      return false;
    },
    sendMessage(text, clear) {
      const self = this;
      console.log(text);
      var d = new Date();
      var h =  d.getHours();
      var m =  d.getMinutes();
      var day = d.getDate();
      var mo = d.getMonth() + 1;
      var y = d.getFullYear();
      let DT = day+'-'+mo+'-'+y+'('+h+':'+m+')';

      console.log(DT);
      self.socket.emit("input", {
        name: self.username,
        message: text,
        senderId: self.frndid,
        receiverId: self.userid,
        date: DT
      });
      if (typeof clear == "function") clear();

    }
  },
  mounted() {
    const self = this;
    // self.receiverMessage();
    self.socket.emit("show", { senderId: self.frndid });
    self.socket.on("output", function(data) {
      for (var x = 0; x < data.length; x++) {
        var type = data[x].userId == self.userid ? "sent" : "received";
        var name = type == "sent" ? self.username : self.name;
        var imgg = type == "sent" ? self.profileImg : self.avatar;
        var im = "<style>background-image: url(" + imgg + ");</style>";
        self.messagesData.push({
          name: name,
          text: data[x].message,
          type: type,
          img: imgg,
          userId: data[x].userId,
          frndId: data[x].senderId,
          date: data[x].date
        });
      }

      console.log(self.messagesData);
      console.log(self.username);
    });
  }
};
</script>
<style>
.messagebar a.link {
  background-color: #03a9f4 !important;
  color: #fff !important;
}
</style>