<template id="friendsID">
  <f7-page name="friends" class="dashboard-bg">
    <f7-fab position="right-bottom" slot="fixed" color="orange" @click="$f7router.navigate('/search-friend/')">
      <f7-icon ios="f7:add" aurora="f7:add" md="material:add"></f7-icon>
      <f7-icon ios="f7:close" aurora="f7:close" md="material:close"></f7-icon>
      <!-- <f7-fab-buttons position="top">
        <f7-fab-button label="Action 1">1</f7-fab-button>
        <f7-fab-button label="Action 2">2</f7-fab-button>
      </f7-fab-buttons> /search-friend/-->
    </f7-fab>
    <!-- <f7-page name="chat" class="dashboard-bg"> -->
      <f7-block-title>
      Friend Requests
      <!-- <f7-link style="float: right;">See All</f7-link> -->
    </f7-block-title>
      <f7-list media-list>
        <span
        v-for="(PeopleYouKnowData, key) in PeopleYouKnow "
        :key="key"
        style="display: block; background: white;"
        >
        <f7-list-item
         v-if="PeopleYouKnowData.sender_id._id != userId"     
        >
        <div class="row">
        <div class="col-85">
        <img :src="PeopleYouKnowData.sender_id.profile_image" width="44" height="44" style="float: left; margin-right: 10px" />
        <span style="display: block">{{PeopleYouKnowData.sender_id.username}}</span>
        <span>{{PeopleYouKnowData.sender_id.phone}}</span>
        </div>
        <f7-button 
         class="col-15"
         :popover-open="'.popover-menu'+PeopleYouKnowData.sender_id._id"
        >
        <f7-icon material="more_vert"></f7-icon>
      </f7-button>
      </div>
      <f7-popover :class="'popover-menu'+PeopleYouKnowData.sender_id._id">
        <f7-list>
          <f7-list-item 
            link="#" 
            popover-close 
            title="Confirm"
            @click="addfriend(PeopleYouKnowData._id)"
          >
          </f7-list-item>
          <f7-list-item 
            link="#" 
            popover-close 
            title="Delete"
            @click="deletefriend(PeopleYouKnowData._id)"
          >
          </f7-list-item>
        </f7-list>
      </f7-popover>
      </f7-list-item>
      </span>
    </f7-list>
    <f7-block-title>
      People You Know
      <!-- <f7-link style="float: right;">See All</f7-link> -->
    </f7-block-title>
    <f7-list media-list>
        <span
        v-for="(FriendRequestsData, key) in FriendRequests "
        :key="key"
        style="display: block; background: white;"
        >
        <f7-list-item
         v-if="FriendRequestsData.receiver_id._id != userId"     
        >
        <div class="row">
        <div class="col-85">
        <img :src="FriendRequestsData.receiver_id.profile_image" width="44" height="44" style="float: left; margin-right: 10px" />
        <span style="display: block">{{FriendRequestsData.receiver_id.username}}</span>
        <span>{{FriendRequestsData.receiver_id.phone}}</span>
        </div>
        <f7-button 
         class="col-15"
         :popover-open="'.popover-menu'+FriendRequestsData.receiver_id._id"
        >
        <f7-icon material="more_vert"></f7-icon>
      </f7-button>
      </div>
      <f7-popover :class="'popover-menu'+FriendRequestsData.receiver_id._id">
        <f7-list>
          <f7-list-item 
            link="#" 
            popover-close 
            title="Delete"
            @click="deletefriend(FriendRequestsData._id)"
            >
          </f7-list-item>
        </f7-list>
      </f7-popover>
      </f7-list-item>
      </span>
    </f7-list>
  <!-- </f7-page> -->
  </f7-page>
</template>
<script>
import { API_URL } from "../../js/api.js";
export default {
  data() {
    return {
      FriendRequests: null,
      PeopleYouKnow: null,
      userId: localStorage.getItem("userID"),
    };
  },
  computed: {
  },
  methods: {
    friendRequests() {
      const self = this;
      const app = self.$f7;
      // app.progressbar.show('multi');
      app.request.setup({
        headers: {
          Authorization: localStorage.getItem("token")
        }
      });
      app.request.post(API_URL+ 'requested_friend', function(data) {
        var obj = JSON.parse(data);
        self.FriendRequests = obj.data;
        self.PeopleYouKnow = obj.data;
        console.log(self.FriendRequests);
        // app.progressbar.hide();
      });
    },
    addfriend(id){
      const self = this;
      const app = self.$f7;
      console.log(id);
      app.request.post(API_URL+ 'accept_friend',{recordId: id}, function(data) {
        var obj = JSON.parse(data);
        self.friendRequests();
        app.toast.create({
          text: ''+obj.message+'',
          closeTimeout: 2000,
        }).open();
      });
    },
    deletefriend(id){
      const self = this;
      const app = self.$f7;
      console.log(id);
      app.request.post(API_URL+'delete_friend',{recordId: id}, function(data) {
        var obj = JSON.parse(data);
        self.friendRequests();
        app.toast.create({
          text: ''+obj.message+'',
          closeTimeout: 2000,
        }).open();
      });
    },
  },
  created(){
      const self = this;
      const app = self.$f7;
  },
  beforeMount() {
    const self = this;
    const app = self.$f7;
  },
  mounted: function() {
    const self = this;
    const app = self.$f7;
    self.friendRequests();
  },
  updated() {
    const self = this;
    const app = self.$f7;
  }
};
</script>