<template>
  <f7-page name="friends profile" class="dashboard-bg">
    <!-- Top Navbar -->
    <!-- <f7-navbar :sliding="false">
      
    </f7-navbar>-->
    <f7-navbar class="dashboard-navbar">
      <f7-navbar :title="profileData.username" back-link="Back"></f7-navbar>
      <!-- <f7-nav-title>Chat</f7-nav-title> -->
    </f7-navbar>
    <!-- Toolbar-->
    <toolbar-data></toolbar-data>
    <!-- Page content-->

    <div class="bg-color-blue" style="color: #fff!important;text-align: center!important;">
      <!-- <input type="file" @change="onFileSelected" style="display: none;" ref="fileInput" /> -->
      <img v-if="profileData.profile_image"
        class="elevation-10"
        :src="profileData.profile_image ? profileData.profile_image : ''"
        width="150"
        height="150"
        style="border-radius: 50%!important;margin: 1rem!important;"
      />
      <img v-if="!profileData.profile_image"
        class="elevation-10"
        src="../../img/profileimg.jpg"
        width="150"
        height="150"
        style="border-radius: 50%!important;margin: 1rem!important;"
      />
      <!-- <div class="" style="padding-bottom: 1.5rem!important;" v-if="profileData !== null">
            <h2 class="" style="margin:0px!important;">{{profileData.name}}</h2>
            +91-{{profileData.phone}}
      </div> -->

     </div> 

    <f7-list v-if="profileData" class="profile-class">
      <f7-list-item
        swipeout
        :title="profileData.username ? profileData.username : 'No name'"
      >
        <f7-icon material="person" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>

      <f7-list-item swipeout :title="profileData.phone ? profileData.phone : 'No phone no'">
        <f7-icon material="stay_current_portrait" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>

      <f7-list-item
        swipeout
        v-bind:title="profileData.email ? profileData.email : 'No Email Id'"
      >
        <f7-icon material="email" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>

      <f7-list-item
        swipeout
        v-bind:title="profileData.gender ? profileData.gender : 'No Gender'"
      >
        <f7-icon material="wc" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>

      <f7-list-item
        swipeout
        v-bind:title="profileData.dob ? profileData.dob : 'No date of birth'"
      >
        <f7-icon material="cake" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>

      <f7-list-item
        swipeout
        v-bind:title="profileData.relationship ? profileData.relationship : 'No relationship status'"
        
      >
        <f7-icon material="favorite" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>

      <f7-list-item
        swipeout
        v-bind:title="profileData.city ? profileData.city : 'No city'"
      >
        <f7-icon material="domain" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>
      
      <f7-list-item v-if="switchVal == true">
        <span v-if="profileData.history_status == true" @click="$f7router.navigate('/friends-history/'+profileData.phone)">
        <h3 slot="media">View product history list</h3>
        </span>
      </f7-list-item>
      
      <!-- <f7-list-item 
        class="addFrnd" 
        style="background-color: blue"
        @click="addfriend(profileData.phone)"
      >
        <h3>Add Friend</h3>
      </f7-list-item> -->
      
    </f7-list>

  </f7-page>
</template>
<script>
import { API_URL } from "../../js/api.js";
import Toolbar from "../../components/toolbar.vue";
export default {
  components: {
    "toolbar-data": Toolbar
  },
  props:{
    options: String,
  },
  data() {
    return {
      // selectedFiles: null,
      // selectedFile: null,
      profileData: this.options,
      switchVal: null
    };
  },
  methods: {    
    // showProfile() {
    //   const self = this;
    //   const app = self.$f7;
    //   self.profileData = self.options;
    //   console.log(this.options);
      
    // },
    addfriend(phone){
      const self = this;
      const app = self.$f7;
      app.request.post(API_URL+ 'addFriend',{phone: phone}, function(data) {
        var obj = JSON.parse(data);
        // console.log(obj);
        let message = obj.message;
        app.toast.create({
          text: ''+message+'',
          // position: 'top',
          closeTimeout: 2000,
        }).open();
      });
    },
    showProfile() {
      const self = this;
      const app = self.$f7;
      var type = "user";
      app.request.setup({
        headers: {
          Authorization: localStorage.getItem("token")
        }
      });
      app.request.get(API_URL + type, function(data) {
        var obj = JSON.parse(data);
        self.switchVal=obj.singleUser.history_status
        console.log(self.switchVal);
      });
    },
  },
  created() {
    const self = this;
    const app = self.$f7;
  },
  beforeMount(){
      const self = this;
      const app = self.$f7;
  },
  mounted: function() {
    const self = this;
    const app = self.$f7;
    self.showProfile();
  },
  updated() {
    const self = this;
    const app = self.$f7;
  }
};
</script>