<template id="friendsID">
  <f7-page name="friends" class="dashboard-bg" >
      <f7-navbar class="dashboard-navbar"  >
          <!-- <f7-navbar  title="People List" back-link="Back" @click="$f7router.navigate('/chat/friends/')"></f7-navbar> -->
          <f7-nav-left>
            <f7-link title="People List" @click="$f7router.navigate('/chat/friends/')">
            <i class="f7-icons">arrow_left</i>
            </f7-link>
          </f7-nav-left>
          <f7-nav-title>People List</f7-nav-title>
      <f7-subnavbar :inner="false">
      <input 
        class="search-style"
        v-model="searchfrnd"
        @keyup="secarchFriends"
        @input="searchfrnd = $event.target.value"
        placeholder="Search People"
      />
      </f7-subnavbar>
    </f7-navbar>
    <!-- <f7-page name="chat" class="dashboard-bg"> -->
      <f7-list media-list>
        <!-- {{friendsData | json}} -->
      <f7-list-item
        v-for="(friendsData, key) in friends"
        :key="key"       
        >
        <div class="row">
        <div @click="friendRS(friendsData)" class="col-80">
        <img :src="friendsData.profile_image" width="44" height="44" style="float: left; margin-right: 10px" />
        <span style="display: block">{{friendsData.username}}</span>
        <span>{{friendsData.phone}}</span>
        </div>
        <f7-button 
         class="col-20"
         @click="addfriend(friendsData._id)"
        >
        <f7-icon material="person_add"></f7-icon>
      </f7-button>
      </div>
      </f7-list-item>
      
      <!-- <f7-list-item
        
        title="Don't Stop Me Now"
        subtitle="Offline">
        <img slot="media" src="https://cdn.framework7.io/placeholder/fashion-88x88-2.jpg" width="44" />
      </f7-list-item>
      <f7-list-item
        
        title="Billie Jean"
        subtitle="Offline">
        <img slot="media" src="https://cdn.framework7.io/placeholder/fashion-88x88-3.jpg" width="44" />
      </f7-list-item> -->
    </f7-list>
  <!-- </f7-page> -->
  </f7-page>
</template>
<script>
import { API_URL } from "../../js/api.js";
export default {
  data() {
    return {
      friends: []
    };
  },
  methods: {
    friend() {
      const self = this;
      const app = self.$f7;
      app.progressbar.show('multi');
      app.request.setup({
        headers: {
          Authorization: localStorage.getItem("token")
        }
      });
      app.request.post(API_URL+ 'friend', function(data) {
        var obj = JSON.parse(data);
        self.friends = obj.user;
        console.log(self.friends);
        app.progressbar.hide();
      });
    },
    secarchFriends(){
      const self = this;
      const app = self.$f7;
      let searchData = this.searchfrnd;
      console.log(searchData);
      app.progressbar.show('multi');
      app.request.setup({
        headers: {
          Authorization: localStorage.getItem("token")
        }
      });
      app.request.post(API_URL+ 'search_friend',{searchTerm: searchData}, function(data) {
        var obj = JSON.parse(data);
        self.friends = obj.searchedFriend;
        console.log(self.friends);
        app.progressbar.hide();
      }); 
    },
    friendRS(data){
        const self = this;
        const app = self.$f7;
        console.log(data);
        self.$f7router.navigate('/friends-profile/',{
          props: {
            options:{
                  username: data.username, 
                  phone: data.phone,
                  gender: data.gender,
                  email: data.email,
                  dob: data.dob,
                  relationship: data.relationship,
                  city: data.city,
                  profile_image: data.profile_image,
                  history_status: data.history_status
                }
            }
        });
    },
    addfriend(id){
      const self = this;
      const app = self.$f7;
      console.log(id);
      app.request.post(API_URL+ 'addFriend',{receiver_id: id}, function(data) {
        var obj = JSON.parse(data);
        console.log(obj);
        let message = obj.message;
        app.toast.create({
          text: ''+message+'',
          closeTimeout: 2000,
        }).open();
      });
    }
  },
  created(){
      const self = this;
      const app = self.$f7;
  },
  beforeMount() {
    const self = this;
    const app = self.$f7;
    self.friend();
  },
  mounted: function() {
    const self = this;
    const app = self.$f7;
  },
  updated() {
    const self = this;
    const app = self.$f7;
  }
};
</script>