<template>
  <f7-page name="chat" class="dashboard-bg" :page-content="false">
    <!-- Top Navbar -->
    <!-- <f7-navbar :sliding="false">
      
    </f7-navbar> -->
    <f7-navbar class="dashboard-navbar">
        <f7-navbar title="Chat" back-link="Back"></f7-navbar>
        <!-- <f7-nav-title>Chat</f7-nav-title> -->
  </f7-navbar>
    <!-- Toolbar-->
    <toolbar-data></toolbar-data>
    <f7-toolbar tabbar top>
      <f7-link tab-link href="./" route-tab-id="chatID">All Friends</f7-link>
      <!-- <f7-link tab-link href="group/" route-tab-id="groupID">GROUP</f7-link> -->
      <f7-link tab-link href="friends/" route-tab-id="friendsID">Friend Requests</f7-link>
    </f7-toolbar >
    <!-- Page content-->
    <f7-tabs routable swipeable>
      <f7-tab id="chatID" class="page-content"></f7-tab>
      <!-- <f7-tab id="groupID" class="page-content"> </f7-tab> -->
      <f7-tab id="friendsID" class="page-content"></f7-tab>
    </f7-tabs>
    
  </f7-page>
</template>
<script>
import { API_URL} from '../js/api.js';
import Toolbar from '../components/toolbar.vue';
export default {
  components:{
    'toolbar-data':Toolbar
  },
  data () {
        return {
            selectedFile: null,
        }
    },
    methods: {
      
    },
    beforeCreate(){
      const self = this;
      const app = self.$f7;
      
    },
    created(){
      const self = this;
      const app = self.$f7;
    },
    beforeMount(){
      const self = this;
      const app = self.$f7;
    },
    mounted () {
      const self = this;
      const app = self.$f7;
    },
    beforeUpdate(){
      const self = this;
      const app = self.$f7;
    },
    updated(){
      const self = this;
      const app = self.$f7;
    }
}
</script>