<template>
  <f7-page name="dashboard" class="dashboard-bg">
    <!-- Top Navbar -->
    <!-- <f7-navbar :sliding="false">
      
    </f7-navbar>-->
    <f7-navbar class="dashboard-navbar">
      <!-- <f7-searchbar
        disable-button-text="Cancel"
        placeholder="Search"
        :clear-button="true"
        class="search-style"
        @keyup.enter="secarch"
        @input="search = $event.target.value"
      ></f7-searchbar> -->
      <input 
        class="search-style"
        v-model="search"
        @keyup.enter="secarch"
        @input="search = $event.target.value"
        placeholder="Search"
      />
    </f7-navbar>
    <!-- Toolbar-->
    <toolbar-data></toolbar-data>
    <!-- Page content-->
    <!-- <f7-block> -->
    <f7-swiper pagination>
      <f7-swiper-slide>
        <img
          src="static/banner1.jpg"
          width="100%"
        />
      </f7-swiper-slide>
      <f7-swiper-slide>
        <img
          src="static/banner2.jpg"
          width="100%"
        />
      </f7-swiper-slide>
      <f7-swiper-slide>
        <img
          src="static/banner3.jpg"
          width="100%"
        />
      </f7-swiper-slide>
    </f7-swiper>
    <!-- </f7-block> -->
    <f7-block-title>Categories</f7-block-title>
    <f7-row no-gap>
      <f7-col width="25" class="categories-home">
        <div class="content">
          <a @click="product_list('mobile')">
            <f7-icon ios="f7:home" md="material:smartphone"></f7-icon>
            <span>Mobiles & Tablets</span>
          </a>
        </div>
      </f7-col>
      <f7-col width="25" class="categories-home">
        <div class="content">
          <a @click="product_list('computer')">
            <f7-icon md="material:computer"></f7-icon>
            <span>Laptops & Peripherals</span>
          </a>
        </div>
      </f7-col>
      <f7-col width="25" class="categories-home">
        <div class="content">
          <a @click="product_list('electronics')">
            <f7-icon ios="f7:home" md="material:desktop_windows"></f7-icon>
            <span>TV & Entertainment</span>
          </a>
        </div>
      </f7-col>
      <f7-col width="25" class="categories-home">
        <div class="content">
          <a @click="product_list('appliance')">
            <f7-icon ios="f7:home" aurora="f7:home" md="material:home"></f7-icon>
            <span>Home & Kitchen</span>
          </a>
        </div>
      </f7-col>
      <f7-col width="25" class="categories-home">
        <div class="content">
          <a @click="product_list('camera')">
            <f7-icon ios="f7:home" md="material:camera_alt"></f7-icon>
            <span>Cameras,DSLRs & Accessories</span>
          </a>
        </div>
      </f7-col>
      <f7-col width="25" class="categories-home">
        <div class="content">
          <a @click="product_list('care')">
            <f7-icon ios="f7:home" aurora="f7:home" md="material:local_hospital"></f7-icon>
            <span>Personal & Health Devices</span>
          </a>
        </div>
      </f7-col>
      <f7-col width="25" class="categories-home">
        <div class="content">
          <a @click="product_list('beauty')">
            <f7-icon ios="f7:home" aurora="f7:home" md="material:face"></f7-icon>
            <span>Cosmetics</span>
          </a>
        </div>
      </f7-col>
      <f7-col width="25" class="categories-home">
        <div class="content">
          <a>
            <f7-icon ios="f7:home" aurora="f7:home" md="material:wc"></f7-icon>
            <span>Others</span>
          </a>
        </div>
      </f7-col>
    </f7-row>
    <f7-block-title>
      Popular Smartphone
      <!-- <f7-link style="float: right;">VIEW ALL</f7-link> -->
    </f7-block-title>
    <f7-swiper :params="{speed:500, slidesPerView: 2.5, spaceBetween: 0}" v-if="smartPhoneList">
      <f7-swiper-slide class="product-home"  v-for="(product, key) in smartPhoneList" :key="key">
        <div class="content" @click="$f7router.navigate('/product-details/'+product.product_id)">
          <!-- <img
            :src=product.product_image
            alt
          /> -->
          <div
          :style="{
            backgroundImage: `url(${product.product_image})`,
            width: '100%',
            height: '150px',
            backgroundColor: '#ffffff',
            backgroundPosition: 'center',
            backgroundSize: 'contain',
            backgroundRepeat: 'no-repeat'}">
          </div>
          <div class="text">
            <a href="#">
              <p>{{ product.product_title}}</p>
            </a>
            <span class="price">&#8377;{{ product.product_lowest_price}}</span>
            <!-- <span class="noprice">&#8377;{{ product.product_lowest_price}}</span> -->
            <!-- <span class="parsantice">[14%]</span> -->
            <star-rating
              :read-only="true"
              :rating="product.product_rating"
              :max-rating="5"
              inactive-color="#ddd"
              active-color="#fff82c"
              :star-size="18"
            ></star-rating>
          </div>
        </div>
      </f7-swiper-slide>
    </f7-swiper>

    <f7-block-title>
      Populer Laptop
      <!-- <f7-link style="float: right;">VIEW ALL</f7-link> -->
    </f7-block-title>
    <f7-swiper :params="{speed:500, slidesPerView: 2.5, spaceBetween: 0}" v-if="laptopsList">
      <f7-swiper-slide class="product-home" v-for="(product, key) in laptopsList" :key="key">
        <div class="content" @click="$f7router.navigate('/product-details/'+product.product_id)">
          <!-- <img
            :src=product.product_image
            alt
          /> -->
          <div
          :style="{
            backgroundImage: `url(${product.product_image})`,
            width: '100%',
            height: '100px',
            backgroundColor: '#ffffff',
            backgroundPosition: 'center',
            backgroundSize: 'contain',
            backgroundRepeat: 'no-repeat'}">
          </div>
          <div class="text">
            <a href="#">
              <p>{{ product.product_title}}</p>
            </a>
            <span class="price">&#8377;{{ product.product_lowest_price}}</span>
            <!-- <span class="noprice">&#8377;{{ product.product_lowest_price}}</span> -->
            <star-rating
              :read-only="true"
              :rating="product.product_rating"
              :max-rating="5"
              inactive-color="#ddd"
              active-color="#fff82c"
              :star-size="18"
            ></star-rating>
          </div>
        </div>
      </f7-swiper-slide>
    </f7-swiper>
  </f7-page>
</template>
<script>
import { API_URL, API_PRODUCT, API_KEY } from "../js/api.js";
import Toolbar from "../components/toolbar.vue";
import StarRating from "vue-star-rating";
export default {
  components: {
    "toolbar-data": Toolbar,
    "star-rating": StarRating
  },
  data() {
    return {
      selectedFile: null,
      smartPhoneList: [],
      laptopsList: [],
      search: '',
    };
  },
  methods: {
    banner() {
      const self = this;
      const app = self.$f7;
      // var swiper = new Swiper('.swiper-banner', {
      //   slidesPerView: 'auto',
      //   centeredSlides: true,
      //   spaceBetween: 30,
      //   pagination: {
      //     el: '.swiper-pagination',
      //     dynamicBullets: true,
      //   },
      // });
    },
    product_list: function(category) {
      const self = this;
      const app = self.$f7;
      console.log("category", category);
      self.$f7router.navigate("/categories/"+category);
      // self.$f7router.navigate({
      //   name: "product-list",
      //   params: { category: category }
      // });
    },
    mobileProducts(product) {
      const self = this;
      const app = self.$f7;
      //app.progressbar.show('multi');
      app.request.get(API_PRODUCT+'compare/search',{api_key : API_KEY,product : product}, function(data) {
        var obj = JSON.parse(data);
        self.smartPhoneList = obj.data;
      });
    },
    laptopProducts(product) {
      const self = this;
      const app = self.$f7;
      //app.progressbar.show('multi');
      app.request.get(API_PRODUCT+'compare/search',{api_key : API_KEY,product : product}, function(data) {
        var obj = JSON.parse(data);
        self.laptopsList = obj.data;
      });
    },
    secarch(){
        const self = this;
        const app = self.$f7;
        let searchData = this.search;
        console.log(searchData);
        if(searchData == ''){
            console.log('empty');
        }else{
            this.$f7router.navigate('/search/'+searchData);
        }
    },
  },
  beforeCreate() {
    const self = this;
    const app = self.$f7;
  },
  created() {
    const self = this;
    const app = self.$f7;
  },
  beforeMount() {
    const self = this;
    const app = self.$f7;
    self.mobileProducts('mobile');
    self.laptopProducts('Laptops');
  },
  mounted() {
    const self = this;
    const app = self.$f7;
    self.banner();
  },
  beforeUpdate() {
    const self = this;
    const app = self.$f7;
  },
  updated() {
    const self = this;
    const app = self.$f7;
  }
};
</script>