<template>
  <f7-page name="profile-list" class="dashboard-bg">
    <!-- Top Navbar -->
    <!-- <f7-navbar :sliding="false">
      
    </f7-navbar>-->
    <f7-navbar class="dashboard-navbar" back-link="Back">
      <!-- <f7-navbar title="Profile" back-link="Back"></f7-navbar> -->
      <f7-nav-title>Product History List</f7-nav-title>
    </f7-navbar>
    <!-- Toolbar-->
    <toolbar-data></toolbar-data>
    <!-- Page content-->
    


    <f7-list media-list v-if="productList" >
      <f7-list-item 
        link="#" 
        :title="product.product_title" 
        class="product-list" 
        v-for="(product, key) in productList.slice().reverse()" 
        :key="key" 
        @click="$f7router.navigate('/product-details/'+product.product_id)"
      >
        <img
          slot="media"
          :src="product.product_image"
          width="80"
        />
        <span class="price">&#8377;{{ product.lowest_price}}</span>
        <!-- <span class="noprice">&#8377;{{ product.product_lowest_price}}</span>
        <span class="parsantice">[14%]</span> -->
        <star-rating
          :read-only="true"
          :rating="product.rating"
          :max-rating="5"
          inactive-color="#ddd"
          active-color="#fff82c"
          :star-size="18"
          :increment="0.5"
        ></star-rating>
      </f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
import { API_URL,API_PRODUCT,API_KEY } from "../js/api.js";
import Toolbar from "../components/toolbar.vue";
import StarRating from "vue-star-rating";
export default {
  components: {
    "toolbar-data": Toolbar,
    "star-rating": StarRating 
  },
  data() {
    return {
      productList: [],
      priceMin: 1,
      priceMax: 500,
    };
  },
  methods: {
    products(value) {
      const self = this;
      const app = self.$f7;
      let phone = self.$f7route.params.phone;
      app.progressbar.show('multi');
      app.request.post(API_URL+'view_others_hisory',{phone : phone}, function(data) {
        var obj = JSON.parse(data);
        self.productList = obj.all_viewed_user;
        console.log(self.productList);
        app.progressbar.hide();
      });
    },
    onPriceChange(values) {
        this.priceMin = values[0];
        this.priceMax = values[1];
      },
  },
  created() {
    const self = this;
    const app = self.$f7;
  },
  beforeMount() {
    const self = this;
    const app = self.$f7;
    
  },
  mounted: function() {
    const self = this;
    const app = self.$f7;
    self.products();
    // self.onPriceChange();
  },
  updated() {
    const self = this;
    const app = self.$f7;
  }
};
</script>