<template>
  <f7-page name="login" login-screen>
    <!-- <f7-navbar title="About" back-link="Back"></f7-navbar> -->
    <f7-login-screen-title>
      <img src="../img/logo.png" alt="logo" width="40%" />
    </f7-login-screen-title>
    <f7-block>
      <f7-login-screen-title style="font-size: 18px">Login</f7-login-screen-title>
      <f7-list form>
        <f7-list-input
          type="text"
          placeholder="Full Name"
          :should-auto-focus="true"
          @input="name = $event.target.value"
          clear-button
        ></f7-list-input>
        <f7-list-input
          type="number"
          placeholder="Phone No"
          @input="phone = $event.target.value"
          clear-button
        ></f7-list-input>
      </f7-list>
      <f7-list>
        <f7-list-button title="SIGNUP" @click="login()">Lets Go!</f7-list-button>
        <f7-block-footer>If you ……Signin</f7-block-footer>
      </f7-list>
    </f7-block>
  </f7-page>
</template>
<script>
import { API_URL } from "../js/api.js";
export default {
  data() {
    return {
      phone: ""
    };
  },
  created() {},
  methods: {
    login() {
      const self = this;
      const app = self.$f7;
      var name = self.name;
      var phone = self.phone;
      var type = "phone";
      app.request.post(
        API_URL + type,
        { username: name, phone: phone },
        function(data) {
          var obj = JSON.parse(data);
          console.log('obj', obj);
          var status = obj.status;
          var phone = obj.user.phone;
          var message = obj.message;
          var otp = obj.user.otp;
          if (status == true) {
            self.$f7router.navigate("/otp/" + phone);
            window.localStorage.setItem("username", name);
            // app.dialog
            //   .create({
            //     content: "<span>" + message + " OTP is: " + otp + "</span>",
            //     text: "",
            //     cssClass: "optigooDialog",
            //     buttons: [
            //       {
            //         text: "ok"
            //       }
            //     ],
            //     verticalButtons: false
            //   })
            //   .open();
          }
        }
      );
    }
  },
  computed: {}
};
</script>