<template>
  <f7-page name="login" login-screen>
    <!-- <f7-navbar title="About" back-link="Back"></f7-navbar> -->
    <f7-login-screen-title><img src="../img/logo.png" alt="logo" width="40%"/></f7-login-screen-title>
    <f7-block>
    <f7-login-screen-title>Verification Code</f7-login-screen-title>
        <f7-list form class="otp-style">
          <vie-otp-input
            input-classes="otp-input"
            separator="-"
            :num-inputs="6"
            :should-auto-focus="true"
            :is-input-num="true"
            @on-complete="sendOTP"
            />
        </f7-list>
        <f7-list>
          <f7-list-button @click="resendOtp()" title="RESEND OTP"></f7-list-button>
          
          <f7-block-footer>
            If you did not receive a code! RESEND
          </f7-block-footer>
        </f7-list>
        </f7-block>
  </f7-page>
</template>
<script>
  import VieOtpInput from "@bachdgvn/vue-otp-input";
  import { API_URL} from '../js/api.js'
  export default {
    data() {
      return {
        
      };
    },
    name: 'App',
    components: {
        'vie-otp-input': VieOtpInput,
    },
     methods: {
        sendOTP(value){
          const self = this;
          const app = self.$f7;
          let phone = self.$f7route.params.phone;
          let otp = value;
          var type = 'phone/otp/';
            app.request.post(API_URL+type, { phone: phone, otp: otp},  function (OTPreg){
              var obj = JSON.parse(OTPreg);
              var status = obj.status;
              var massage = obj.message;
              var userID = obj.user._id;
              var token = obj.token;
              if(status == true){
                window.localStorage.setItem("token", token);
                window.localStorage.setItem("userID", userID);
                self.$f7router.navigate('/');
                // app.dialog.create({
                //     content: '<span>'+massage+'</span>',
                //     text: '',
                //     cssClass: 'optigooDialog',
                //     buttons: [
                //       {
                //         text: 'ok',
                //         onClick: function(){
                          
                //         }
                //       },
                //     ],
                //     verticalButtons: false,
                // }).open();
              }else{
                app.dialog.create({
                    content: '<span>'+massage+'</span>',
                    text: '',
                    cssClass: 'optigooDialog',
                    buttons: [
                      {
                        text: 'ok',
                      },
                    ],
                    verticalButtons: false,
                }).open();  
              }
            });
        },
        resendOtp(){
          const self = this;
          const app = self.$f7;
          let phone = self.$f7route.params.phone;
          var type = 'resend_otp/'+phone;
          app.request.post(API_URL+type, function (reOTPreg){
            var obj = JSON.parse(reOTPreg);
            var status = obj.status;
            var massage = obj.message;
            app.dialog.create({
              content: '<span>'+massage+'</span>',
                text: '',
                cssClass: 'optigooDialog',
                buttons: [
                  {
                    text: 'ok',
                  },
                ],
                verticalButtons: false,
            }).open();
          });
        }
     },
     mounted () {
      const self = this;
      const app = self.$f7;
    },
  }

</script>