<template>
  <f7-page name="profile-details" class="product-details">
    <!-- Top Navbar -->
    <!-- <f7-navbar :sliding="false">
      
    </f7-navbar>-->
    <f7-navbar class="dashboard-navbar" back-link="Back">
      <!-- <f7-navbar title="Profile" back-link="Back"></f7-navbar>
      
            description="Intuitive, Fast and Composable MVVM for building interactive interfaces."
            quote="Vue is a progressive framework for building user interfaces."
            hashtags="vuejs,javascript,framework"
            twitter-user="vuejs"
      -->
      <f7-nav-title></f7-nav-title>
      <f7-nav-right class="right-icon">
        <!-- <social-sharing
          :url="'/product-details/'+productDetailsList.product_id"
          :title="productDetailsList.product_name"
          inline-template
        >
          <div>
            <network network="whatsapp">
              <f7-icon material="share"></f7-icon>
            </network>
          </div>
        </social-sharing> -->
        <f7-button @click="favorite(productDetailsList)"><f7-icon material="favorite"></f7-icon></f7-button>
      </f7-nav-right>
    </f7-navbar>
    <!-- Toolbar-->
    <toolbar-data></toolbar-data>
    <!-- Page content-->
    <f7-swiper :pagination="true" :params="{ observer: true }">
      <f7-swiper-slide
        v-for="(images_data, imgKey) in productDetailsList.product_images"
        :key="imgKey"
        :style="{
          backgroundImage: `url(${images_data})`,
          width:'100%',
          height:'300px',
          backgroundColor: '#ffffff',
          backgroundPosition: 'center',
          backgroundSize: 'contain',
          backgroundRepeat: 'no-repeat'}"
      ></f7-swiper-slide>
    </f7-swiper>
    <f7-block class="productDetailsBody">
      <p>{{productDetailsList.product_name}}</p>
      <span>
        <!-- <h2>&#8377;{{productDetailsList.product_mrp}}</h2> -->
        <star-rating
          :read-only="true"
          :rating="productDetailsList.product_ratings"
          :max-rating="5.0"
          inactive-color="#ddd"
          active-color="#fff82c"
          :star-size="18"
          :increment="0.5"
        ></star-rating>
      </span>
      <f7-toolbar tabbar bottom style="margin-top:20px;">
        <f7-link tab-link="#stores" tab-link-active>Stores</f7-link>
        <f7-link tab-link="#sepecs">Spec</f7-link>
        <f7-link tab-link="#views">Views</f7-link>
      </f7-toolbar>
      <f7-tabs>
        <f7-tab id="stores" class="page-content" swipeable tab-active>
          <div class="list media-list">
            <ul>
              <li v-for="(value, index) in productDetailsStor" :key="index">
                <div v-for="(storData, storKey) in value" :key="storKey">
                  <a
                    href="#"
                    class="item-link item-content"
                    v-if="storData.product_price > 0"
                    @click="storLink(storData.product_store_url)"
                  >
                    <div class="item-media">
                      <img :src="storData.product_store_logo" width="80" />
                    </div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">{{storData.product_store}}</div>
                        <div class="item-after">
                          <span
                            :style="{width:20 +'px',height:20 +'px',backgroundColor:storData.product_color}"
                          ></span>
                        </div>
                      </div>
                      <div class="item-subtitle">&#8377; {{storData.product_price}}</div>
                      <div class="item-text">{{storData.product_offer}}</div>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </f7-tab>
        <f7-tab id="sepecs" class="page-content">
          <div class="list media-list inset">
            <ul>
              <li v-for="(sepecsData, sepecsKey) in productSepecsMain" :key="sepecsKey">
                <div class="item-inner" style="padding:5px; min-height: 0px;">
                  <div class="item-title-row">
                    <div class="item-title">{{sepecsData}}</div>
                  </div>
                  <!-- <div class="item-subtitle">Beatles</div> -->
                </div>
              </li>
            </ul>
          </div>
          <div class="list media-list inset">
            <ul v-for="(sepecsData, sepecsSubKey) in productSepecsSub" :key="sepecsSubKey">
              <h3 style="margin:3px 0; color: blue">{{sepecsSubKey}}</h3>
              <li v-for="(sepecssubbData, sepecsSubKey2) in sepecsData" :key="sepecsSubKey2">
                <div class="item-inner" style="padding:5px; min-height: 0px;">
                  <div class="item-title-row">
                    <div class="item-title" style="font-weight: bold;">{{sepecssubbData.spec_key}}</div>
                  </div>
                  <div class="item-subtitle">{{sepecssubbData.spec_value}}</div>
                </div>
              </li>
            </ul>
          </div>
        </f7-tab>
        <f7-tab id="views" class="page-content">
            <f7-list media-list v-if="productHistoryList">
              <f7-list-item
                v-for="(product, key) in productHistoryList"
                :key="key"
                :title="product.username"
                :subtitle="product.phone"
                >
                <img v-if="product.profile_image" slot="media" :src="product.profile_image" width="44" height="44" />
                <img v-else slot="media" src="../img/userImg.png" width="44" height="44" />
              </f7-list-item>
            </f7-list>
        </f7-tab>
      </f7-tabs>
    </f7-block>
  </f7-page>
</template>
<script>
import { API_URL, API_PRODUCT, API_KEY } from "../js/api.js";
import Toolbar from "../components/toolbar.vue";
import StarRating from "vue-star-rating";

export default {
  components: {
    "toolbar-data": Toolbar,
    "star-rating": StarRating
  },
  data() {
    return {
      productDetailsList: {},
      productDetailsStor: [],
      productSepecsMain: [],
      productSepecsSub: {},
      productHistoryList: [],
    };
  },
  computed: {
    // filteredEntries () {
    //     const self = this;
    //     return self.productDetailsStor.filter((entry) => {
    //     });
    //     // return _.flatten(self.productDetailsList.stores);
    //     console.log('test computed');
    // }
  },

  methods: {
    productDetails() {
      const self = this;
      const app = self.$f7;
      let pddata = self.$f7route.params.pddata;
      app.progressbar.show("multi");
      app.request.get(
        API_PRODUCT + "compare/detail",
        { api_key: API_KEY, id: pddata },
        function(dataList) {
          var obj = JSON.parse(dataList);
          self.productDetailsList = obj.data;
          console.log(self.productDetailsList);
          console.log(self.productDetailsList.product_images[0]);
          self.productDetailsStor = obj.data.stores;
          app.progressbar.hide();
          app.request.setup({
            headers: {
              Authorization: localStorage.getItem("token")
            }
          });
          app.request.post(
            API_URL + "save_hisory",
            { 
            product_id: pddata,
            title: self.productDetailsList.product_name,
            image: self.productDetailsList.product_images[0],
            lowest_price: self.productDetailsList.product_mrp,
            rating: self.productDetailsList.product_ratings
            },
            function(dataList) {
              var obj1 = JSON.parse(dataList);
              console.log(obj1);
              // console.log(obj1, "obj1");
              self.productHistoryList = obj1.all_viewed_user;
              // console.log(self.productHistoryList);
            }
          );
        }
      );
    },
    productSepecs() {
      const self = this;
      const app = self.$f7;
      let pddata = self.$f7route.params.pddata;
      app.request.get(
        API_PRODUCT + "compare/specs",
        { api_key: API_KEY, id: pddata },
        function(dataList) {
          var obj = JSON.parse(dataList);
          self.productSepecsMain = obj.data.main_specs;
          self.productSepecsSub = obj.data.sub_specs;
        }
      );
    },
    storLink(link) {
      const self = this;
      const app = self.$f7;
      var ref = cordova.InAppBrowser.open(link, "_blank", "location=yes");
    },
    // historyView() {
    //   const self = this;
    //   const app = self.$f7;
    //   let pddata = self.$f7route.params.pddata;
    //   var parsedobj = this.productDetailsList;
    //   console.log(parsedobj);
    //   app.request.setup({
    //     headers: {
    //       Authorization: localStorage.getItem("token")
    //     }
    //   });
    //   app.request.post(
    //     API_URL + "save_hisory",
    //     { product_id: pddata },
    //     function(dataList) {
    //       var obj1 = JSON.parse(dataList);
    //       // console.log(obj1, "obj1");
    //       self.productHistoryList = obj1.all_viewed_user;
    //       // console.log(self.productHistoryList);
    //     }
    //   );
    // },
    favorite(data){
      const self = this;
      const app = self.$f7;
      let pddata = self.$f7route.params.pddata;
      app.request.setup({
        headers: {
          Authorization: localStorage.getItem("token")
        }
      });
      app.request.post(
        API_URL + "save_favorite",
        { 
        product_id: pddata,
        title: data.product_name,
        image: data.product_images[0],
        lowest_price: data.product_mrp,
        rating: data.product_ratings
        },
        function(dataList) {
          var obj = JSON.parse(dataList);
          console.log(obj);
          let status = obj.status;
          let message = obj.messages;
          console.log(status);
          app.toast.create({
            text: ''+message+'',
            closeTimeout: 3000,
          }).open();
          // if(status == true){
          //     app.toast.create({
          //       text: 'Added to Favorites',
          //       closeTimeout: 3000,
          //     }).open();
          // }else{
          //     app.toast.create({
          //       text: 'Already Added',
          //       closeTimeout: 3000,
          //     }).open();
          // }
        }
      );
    }
  },
  created() {
    const self = this;
    const app = self.$f7;
  },
  beforeMount() {
    const self = this;
    const app = self.$f7;
  },
  mounted: function() {
    const self = this;
    const app = self.$f7;
    self.productDetails();
    self.productSepecs();
    // self.historyView();
  },
  updated() {
    const self = this;
    const app = self.$f7;
  }
};
</script>