<template>
  <f7-page name="profile-list" class="dashboard-bg">
    <!-- Top Navbar -->
    <!-- <f7-navbar :sliding="false">
      
    </f7-navbar>-->
    <f7-navbar class="dashboard-navbar" back-link="Back">
      <!-- <f7-navbar title="Profile" back-link="Back"></f7-navbar> -->
      <f7-nav-title>Product List</f7-nav-title>
    </f7-navbar>
    <!-- Toolbar-->
    <toolbar-data></toolbar-data>
    <!-- Page content-->
    <!-- <f7-block-title class="display-flex justify-content-space-between">Price Filter <span>&#8377;{{priceMin}} - &#8377;{{priceMax}}</span></f7-block-title>
    <f7-list simple-list style="margin: 0 0 10px 0">
      <f7-list-item>
        <f7-list-item-cell class="width-auto flex-shrink-0">
          Min
        </f7-list-item-cell>
        <f7-list-item-cell class="flex-shrink-3">
          <f7-range
            :min="1"
            :max="100000"
            :step="1"
            :value="[priceMin, priceMax]"
            :label="true"
            :dual="true"
            color="blue"
            @range:change="onPriceChange"
          ></f7-range>
        </f7-list-item-cell>
        <f7-list-item-cell class="width-auto flex-shrink-0">
          Max
        </f7-list-item-cell>
      </f7-list-item>
    </f7-list> -->


    <f7-list media-list v-if="productList" >
      <f7-list-item link="#" :title="product.product_title" class="product-list" 
       v-for="(product, key) in productList" :key="key" @click="$f7router.navigate('/product-details/'+product.product_id)">
        <img
          slot="media"
          :src="product.product_image"
          width="80"
        />
        <span class="price">&#8377;{{ product.product_lowest_price}}</span>
        <!-- <span class="noprice">&#8377;{{ product.product_lowest_price}}</span>
        <span class="parsantice">[14%]</span> -->
        <star-rating
          :read-only="true"
          :rating="product.product_rating"
          :max-rating="5"
          inactive-color="#ddd"
          active-color="#fff82c"
          :star-size="18"
        ></star-rating>
      </f7-list-item>
    </f7-list>
  </f7-page>
</template>
<script>
import { API_URL,API_PRODUCT,API_KEY } from "../js/api.js";
import Toolbar from "../components/toolbar.vue";
import StarRating from "vue-star-rating";
export default {
  components: {
    "toolbar-data": Toolbar,
    "star-rating": StarRating 
  },
  data() {
    return {
      productList: [],
      priceMin: 1,
      priceMax: 100000,
      
    };
  },
  methods: {
    products() {
      const self = this;
      const app = self.$f7;
      let category = self.$f7route.params.category;
      app.progressbar.show('multi');
      app.request.get(API_PRODUCT+'compare/search',{api_key : API_KEY,product : category}, function(data) {
        let obj = JSON.parse(data);
        self.productList = obj.data;
        console.log(self.productList);
        app.progressbar.hide();
      });
    },
    onPriceChange(values) {
        const self = this;
        const app = self.$f7;
        this.priceMin = values[0];
        this.priceMax = values[1];
        let min = values[0];
        let max = values[1];
        // console.log(this.priceMax,this.priceMin);
        let category = self.$f7route.params.category;
        // app.progressbar.show('multi');
        app.request.get(API_PRODUCT+'compare/search',{api_key : API_KEY,product : category,price_start: min, price_end: max}, function(data) {
          let obj = JSON.parse(data);
          self.productList = obj.data;
          // console.log(self.productList);
          // app.progressbar.hide();
        });
      },
  },
  created() {
    const self = this;
    const app = self.$f7;
  },
  beforeMount() {
    const self = this;
    const app = self.$f7;
    
  },
  mounted: function() {
    const self = this;
    const app = self.$f7;
    self.products();
    // self.onPriceChange();
  },
  updated() {
    const self = this;
    const app = self.$f7;
  }
};
</script>