<template>
  <f7-page name="profile" class="dashboard-bg">
    <!-- Top Navbar -->
    <!-- <f7-navbar :sliding="false">
      
    </f7-navbar>-->
    <f7-navbar class="dashboard-navbar">
      <f7-navbar title="Profile" back-link="Back"></f7-navbar>
      <!-- <f7-nav-title>Chat</f7-nav-title> -->
    </f7-navbar>
    <!-- Toolbar-->
    <toolbar-data></toolbar-data>
    <!-- Page content-->

    <div class="bg-color-blue" style="color: #fff!important;text-align: center!important;">
      <input type="file" @change="onFileSelected" style="display: none;" ref="fileInput" />
      <img v-if="profileData.profile_image"
        @click="$refs.fileInput.click()"
        class="elevation-10"
        :src="profileData.profile_image ? profileData.profile_image : ''"
        width="150"
        height="150"
        style="border-radius: 50%!important;margin: 1rem!important;"
      />
      <img v-if="!profileData.profile_image"
        @click="$refs.fileInput.click()"
        class="elevation-10"
        src=../img/profileimg.jpg
        width="150"
        height="150"
        style="border-radius: 50%!important;margin: 1rem!important;"
      />
      <!-- <div class="" style="padding-bottom: 1.5rem!important;" v-if="profileData !== null">
            <h2 class="" style="margin:0px!important;">{{profileData.name}}</h2>
            +91-{{profileData.phone}}
      </div>-->
    </div>
    <f7-list v-if="profileData" class="profile-class">
      <f7-list-item
        v-if="!editusername"
        swipeout
        :title="profileData.username ? profileData.username : 'Please add your name'"
      >
        <f7-icon material="person" slot="media" icon="demo-list-icon"></f7-icon>
        <i class="material-icons" slot="after" @click="edit('username')">edit</i>
      </f7-list-item>
      <f7-list-input
        v-if="editusername"
        type="text"
        :value="profileData.name"
        @input="name = $event.target.value"
        placeholder="Your name"
        clear-button
        style="padding:0px;"
        @blur="updateProfile('username')"
      >
        <f7-icon material="person" slot="media" icon="demo-list-icon"></f7-icon>
        <!-- <f7-icon  material="person" slot="after" icon="demo-list-icon" @click="edit('username')"></f7-icon> -->
      </f7-list-input>

      <f7-list-item swipeout :title="profileData.phone ? profileData.phone : 'Please add your phone no'"
      @click="edit('phone')">
        <f7-icon material="stay_current_portrait" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>

      <f7-list-item
        swipeout
        v-if="!editemail"
        v-bind:title="profileData.email ? profileData.email : 'Please add your Email Id'"
      >
        <i class="material-icons" slot="after" @click="edit('email')">edit</i>
        <f7-icon material="email" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>
      <f7-list-input
        v-if="editemail"
        type="text"
        :value="profileData.email"
        @input="name = $event.target.value"
        placeholder="Your email"
        clear-button
        style="padding:0px;"
        @blur="updateProfile('email')"
      >
        <f7-icon material="email" slot="media" icon="demo-list-icon"></f7-icon>
        <!-- <f7-icon  material="person" slot="after" icon="demo-list-icon" @click="edit('username')"></f7-icon> -->
      </f7-list-input>

      <f7-list-item
        v-if="!editgender"
        swipeout
        v-bind:title="profileData.gender ? profileData.gender : 'Please add your Gender'"
      >
        <i class="material-icons" slot="after" @click="edit('gender')">edit</i>
        <f7-icon material="wc" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>
      <f7-list-input
        v-if="editgender"
        @blur="updateProfile('gender')"
        @input="name = $event.target.value"
        type="select"
        placeholder="Please choose..."
      >
        <f7-icon icon="wc" slot="media"></f7-icon>
        <option value>Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </f7-list-input>

      <f7-list-item
        swipeout
        v-if="!editdob"
        v-bind:title="profileData.dob ? profileData.dob : 'Please add your date of birth'"
      >
        <i class="material-icons" slot="after" @click="edit('dob')">edit</i>
        <f7-icon material="cake" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>
      <f7-list-input
        v-if="editdob"
        type="date"
        :value="profileData.dob"
        @input="name = $event.target.value"
        placeholder="Your Date Of Birth"
        clear-button
        style="padding:0px;"
        @blur="updateProfile('dob')"
      >
        <f7-icon material="cake" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-input>

      <f7-list-item
        swipeout
        v-if="!editrelationship"
        v-bind:title="profileData.relationship ? profileData.relationship : 'Please add your relationship status'"
        @click="edit('relationship')"
      >
        <i class="material-icons" slot="after" @click="edit('relationship')">edit</i>
        <f7-icon material="favorite" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>
      <!-- <f7-list-input
        v-if="editrelationship"
        type="text"
        :value="profileData.relationship"
        @input="name = $event.target.value"
        placeholder="Your Relationship"
        clear-button
        style="padding:0px;"
        @blur="updateProfile('relationship')"
      >
        <f7-icon material="favorite" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-input> -->
      <f7-list-input
        v-if="editrelationship"
        @blur="updateProfile('relationship')"
        @input="name = $event.target.value"
        type="select"
        placeholder="Please choose..."
      >
        <f7-icon icon="wc" slot="media"></f7-icon>
        <option>Your Relationship</option>
        <option value="Single">Single</option>
        <option value="Engaged">Engaged</option>
        <option value="Married">Married</option>
        <option value="Complicated">Complicated</option>
        <f7-icon material="favorite" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-input>

      <f7-list-item
        swipeout
        v-if="!editcity"
        v-bind:title="profileData.city ? profileData.city : 'Please add your city'"
        @click="edit('city')"
      >
        <i class="material-icons" slot="after" @click="edit('city')">edit</i>
        <f7-icon material="location_on" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-item>
      <f7-list-input
        v-if="editcity"
        type="text"
        :value="profileData.city"
        @input="name = $event.target.value"
        placeholder="Your City"
        clear-button
        style="padding:0px;"
        @blur="updateProfile('city')"
      >
        <f7-icon material="location_on" slot="media" icon="demo-list-icon"></f7-icon>
      </f7-list-input>
      <f7-list-item>
        <h3 slot="media" @click="$f7router.navigate('/history-view/')">Product history</h3>
        <f7-toggle :checked="switchVal" @change="changeSwitch" slot="after" ></f7-toggle>
      </f7-list-item>
      <f7-list-item class="logout" @click="logout">
        <h3>LOGOUT</h3>
      </f7-list-item>
      
    </f7-list>
  </f7-page>
</template>
<script>
import { API_URL } from "../js/api.js";
import Toolbar from "../components/toolbar.vue";
export default {
  components: {
    "toolbar-data": Toolbar
  },
  data() {
    return {
      selectedFiles: null,
      selectedFile: null,
      profileData: {},
      editusername: false,
      editphone: false,
      editemail: false,
      editgender: false,
      editdob: false,
      editrelationship: false,
      editcity: false,

      switchVal: null
    };
  },
  methods: {
    onFileSelected(e) {
      const self = this;
      const app = this.$f7;
      self.selectedFiles = e.target.files;
      self.selectedFile = e.target.files[0];
      self.updateProfile('profile_image');
    },
    test() {
      const self = this;
      const app = this.$f7;
      app.dialog
        .create({
          title: "My custom dialog",
          text: "Custom dialog with input number or tel and validation",
          content:
            '<div class="dialog-input-field item-input"><div class="item-input-wrap"><input class="dialog-input" type="tel" placeholder="Enter number" required validate pattern="[0-9]*" data-error-message="Only numbers please!"></div></div>',
          buttons: [{ text: "Filter" }],
          onClick: function(dialog, index) {
            console.log(dialog.$el.find(".dialog-input").val());
          },
          on: {
            open: function() {
              console.log("OPEN");
            }
          }
        })
        .open();
    },
    edit: function(property_val) {
      const self = this;
      const app = this.$f7;
      if (property_val == "username") {
        self.editusername = true;
      } else if (property_val == "phone") {
        self.editphone = true;
      } else if (property_val == "email") {
        self.editemail = true;
      } else if (property_val == "gender") {
        self.editgender = true;
      } else if (property_val == "dob") {
        self.editdob = true;
      } else if (property_val == "relationship") {
        self.editrelationship = true;
      } else if (property_val == "city") {
        self.editcity = true;
      }
    },
    updateProfile: function(property_val) {
      const self = this;
      const app = this.$f7;
      self.profileData1 = {};
      var type = "user";
      if (property_val == "username") {
        self.profileData1 = { username: self.name };
        self.editusername = false;
      } else if (property_val == "phone") {
        self.profileData1 = { phone: self.name };
        self.editphone = false;
      } else if (property_val == "email") {
        self.profileData1 = { email: self.name };
        self.editemail = false;
      } else if (property_val == "gender") {
        self.profileData1 = { gender: self.name };
        self.editgender = false;
      } else if (property_val == "dob") {
        self.profileData1 = { dob: self.name };
        self.editdob = false;
      } else if (property_val == "relationship") {
        self.profileData1 = { relationship: self.name };
        self.editrelationship = false;
      } else if (property_val == "city") {
        self.profileData1 = { city: self.name };
        self.editcity = false;
      }
      app.request.setup({
        headers: {
          Authorization: localStorage.getItem("token")
        }
      });
      if (self.selectedFiles && self.selectedFile) {
        var reader = new FileReader();
        reader.onload = function(readerEvt) {
          var binaryString = readerEvt.target.result;
          console.log(reader);
          const image_value = "data:image/png;base64, " + btoa(binaryString);
          self.profileData1 = { profile_image: image_value };
          app.request.post(API_URL + type, self.profileData1, function(data) {
            var obj = JSON.parse(data);
            self.profileData = obj.user;
            window.localStorage.setItem("username", obj.user.username);
          });
        };
        reader.readAsBinaryString(self.selectedFile);
      } else {
        app.request.post(API_URL + type, self.profileData1, function(data) {
          var obj = JSON.parse(data);
          self.profileData = obj.user;
          window.localStorage.setItem("username", obj.user.username);
        });
      }
    },
    showProfile() {
      const self = this;
      const app = self.$f7;
      var type = "user";
      app.request.setup({
        headers: {
          Authorization: localStorage.getItem("token")
        }
      });
      app.request.get(API_URL + type, function(data) {
        var obj = JSON.parse(data);
        self.profileData = obj.singleUser;
        self.switchVal=obj.singleUser.history_status
        console.log(self.profileData);
      });
    },
    logout() {
      const self = this;
      const app = self.$f7;
      window.localStorage.removeItem("token");
      window.localStorage.removeItem("userID");
      self.$f7router.navigate("/");
    },
    changeSwitch(obj){
      const self = this;
      const app = self.$f7;
      self.switchVal = obj.target.checked
      console.log(self.switchVal);
      app.request.setup({
        headers: {
          Authorization: localStorage.getItem("token")
        }
      });
      app.request.post(API_URL+'historystatus',{history_status: self.switchVal}, function(data) {
        let obj = JSON.parse(data);
        // self.productList = obj.data;
        console.log('h-'+data);
      });
    }
  },
  created() {
    const self = this;
    const app = self.$f7;
  },
  beforeMount(){
      const self = this;
      const app = self.$f7;
      //self.showProfile();
  },
  mounted: function() {
    const self = this;
    const app = self.$f7;
    self.showProfile();
    
  },
  updated() {
    const self = this;
    const app = self.$f7;
    //self.showProfile();
  }
};
</script>