<template>
    <f7-toolbar class="toolbar-global" bottom>
      <f7-link href="/"><f7-icon material="home" size="30px"></f7-icon></f7-link>
      <f7-link href="/chat/"><f7-icon material="chat" size="30px"></f7-icon></f7-link>
      <f7-link href="/favorite/"><f7-icon material="favorite" size="30px"></f7-icon></f7-link>
      <f7-link href="/profile/"><f7-icon material="portrait" size="30px"></f7-icon></f7-link>
    </f7-toolbar>
</template>
<script>
export default {
    
}
</script>