/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #03A9F4;
  --f7-theme-color-rgb: 0, 122, 255;
  --f7-theme-color-shade: #03A9F4;
  --f7-theme-color-tint: #298fff;
  --f7-theme-color-bg-color: #03A9F4;
  --f7-test-color: #fff;
}
// .md {
  //--f7-block-title-font-size: 20px;
// }
/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}
.page {
  background-image: url(../img/bg-02.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.login-screen-content{
  background: rgba(0,0,0,0);
}
.login-screen-content .block{
  margin: 0 10%;
  background: rgba(3, 169, 244, 0.527);
}
.login-screen-content .login-screen-title{
  font-size: small;
  color: var(--f7-test-color);
  padding-top: 10px;
}
.login-screen-content .list-button{
  background: var(--f7-theme-color-tint);
  color: var(--f7-test-color);
  margin: 0 20%;
}
.login-screen-content .block-footer{
  padding-bottom: 10px;
  color: var(--f7-test-color);
}
.login-screen-content .item-input-wrap{
  background: var(--f7-test-color);
  
}
.login-screen-content input[type="number"],.login-screen-content input[type="text"]{
  text-align: center;
}
.login-screen-content .otp-input {
  //width: auto!important;
  height: 40px;
  // padding: 5px;
  // margin: 0 10px;
  font-size: 20px;
  // border-radius: 4px;
  border-bottom: 1px solid rgb(255, 255, 255);
  text-align: center;
  color: var(--f7-test-color)!important;
  &.error {
    border: 1px solid red !important;
  }
}
.otp-style > div > div{
  width: 100% !important;
}
.toolbar-global{
  background: #EFF0F2!important;
}
.dashboard-bg{
  background-image: url(../img/bg-02.png);
  .block-title{
    font-size: 16px;
    overflow: initial;
    color: #006d9e;
  }
}
.dashboard-navbar .navbar-inner{
  background: #03A9F4!important;
}
.dashboard-navbar .title{
  color: var(--f7-test-color);
}
.toolbar-global .material-icons{
  color: #03A9F4!important;
}
.search-style{
  margin: 5px;
  // border-radius: 30px!important;
  border: 0px;
  width: 100%;
  // height: 100%;
  padding: 12px;
  font-size: 18px;
}
// .search-style{
//   border-radius: 30px!important;
// }
.list{
  margin: 0px;
}
.left a i{
  color: var(--f7-test-color);
}
.category-icon{
  // background-color: rgba(228, 228, 228,.8);
  background-color: rgb(255, 255, 255);
  padding: 20px 0;
  border: 2px solid #d9f6fe;
  i{
    display: block;
    margin: auto;
    /* background-color: var(--f7-theme-color); */
    /* padding: 10px; */
    color: #d21010;
    border-radius: 100%;
    font-size: 35px;
  }
}
.categories-home{
  margin-top: 10px;
  .content{
    text-align: center;
    padding: 0 5px;
    i{
      font-size: 18px;
      margin-bottom: 10px;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #03A9F4;
      border-radius: 50%;
      color: #fff;
    }
    span{
      display: block;
      color: rgba(0, 0, 0, 0.54);
      font-size: .8em;
      font-weight: 600;
    }
  }
}
.product-home{
  .content {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    img{
      width: 100%;
      border-radius: 3px 3px 0 0;
    }
    .text{
      padding: 10px;
      p{
        margin-top: 0px;
        margin-bottom: 7px;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 40px;
      }
      .price{
        font-size: 14px;
        font-weight: 500;
        color: rgb(1, 101, 148);
        display: inline-block !important;
        width: 100%;
      }
      .noprice{
        text-decoration: line-through red;
      }
      .parsantice{
        color: red;
        font-weight: bold;
      }
    }
  }
}
.product-list{
  .price{
    //font-size: 14px;
    font-weight: 500;
    color: rgb(1, 101, 148);
    margin-right: 10px;
  }
  .noprice{
    text-decoration: line-through red;
  }
  .parsantice{
    color: red;
    font-weight: bold;
  }
  .item-content{
    // padding: 10px 0;
    .item-media{
      
      margin: .5em 0;
      img{
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
        width: 20vw;
        height: 20vw;
       
      }
    }
  }
}
.profile-class{
  i{
    color: #2196f3;
  }
}
.logout{
  .item-content{
    padding: 0px;
    .item-inner{
      background-color: red;
      padding: 5px 0;
      h3{
        margin: 5px 0;
        text-align: center;
        color:#fff;
        width: 100%;
      }
    }
  }
}
.addFrnd{
  .item-content{
    padding: 0px;
    .item-inner{
      background-color: blue;
      padding: 5px 0;
      h3{
        margin: 5px 0;
        text-align: center;
        color:#fff;
        width: 100%;
      }
    }
  }
}
.product-details{
  .page-content{
    background-color: #ffffff;
    .swiper-container{
      margin: 10px 0;
    }
    .productDetailsBody{
      margin: 0px;
      p{
        margin-top: 30px !important;
        font-size: large;
      }
      span{
        display: inline-block;
        h2{
          float: left;
          margin: 0 30px 10px 0;      
        }
      }  
    }
    .tabs{
      .page-content{
        padding: 10px 0;
      }
    }
  }
  .right-icon{
    i{
      padding: 0 20px;
      color: #ffffff;
    }
  }
}

